ims-core-database/src/main/resources/ims-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:annox="http://annox.dev.java.net"
	xmlns:hj="http://hyperjaxb3.jvnet.org/ejb/schemas/customizations"
	xmlns:ims="http://annox.dev.java.net/com.harmoney.ims.core.annotations"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:orm="http://java.sun.com/xml/ns/persistence/orm"
	xmlns:tns="http://www.harcurrency.com/ims-core" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.harcurrency.com/ims-core"
	jaxb:version="2.0" jaxb:extensionBindingPrefixes="orm hj xjc annox" 
	elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:appinfo>
			<jaxb:globalBindings generateIsSetMethod="false"
				localScoping="toplevel">
				<jaxb:javaType name="java.math.BigDecimal" xmlType="tns:currency"
					parseMethod="com.harmoney.ims.core.database.ConvertUtils.parseCurrency"
					printMethod="com.harmoney.ims.core.database.ConvertUtils.printCurrency" />
				<!-- <jaxb:javaType name="java.sql.Timestamp" xmlType="xsd:dateTime" 
					parseMethod="com.harmoney.ims.core.database.ConvertUtils.parseTimestamp" 
					printMethod="com.harmoney.ims.core.database.ConvertUtils.printTimestamp" 
					/> -->
				<jaxb:javaType name="java.util.Date" xmlType="xsd:date"
					parseMethod="com.harmoney.ims.core.database.ConvertUtils.parseDate"
					printMethod="com.harmoney.ims.core.database.ConvertUtils.printDate" />
				<xjc:serializable />
			</jaxb:globalBindings>
			<jaxb:schemaBindings>
				<jaxb:package name="com.harmoney.ims.core.instances" />
			</jaxb:schemaBindings>
		</xsd:appinfo>
	</xsd:annotation>
	
	<complexType name="Transaction">
    <xsd:annotation>
        <xsd:appinfo>
			<annox:annotate>
				<annox:annotate annox:class="javax.persistence.NamedQueries">
					<annox:annotate annox:class="javax.persistence.NamedQuery"
						name="TX.imsid" query="select i from Transaction i where i.imsid=:imsid">
					</annox:annotate>
					<annox:annotate annox:class="javax.persistence.NamedQuery"
						name="TX.id" query="select i from Transaction i where i.id=:id">
					</annox:annotate>
					<annox:annotate annox:class="javax.persistence.NamedQuery"
						name="TX.all" query="select i from Transaction i">
					</annox:annotate>
				</annox:annotate>
			</annox:annotate> 

            <hj:entity>
                <orm:inheritance strategy="SINGLE_TABLE"/>
                <orm:discriminator-column name="txType" discriminator-type="STRING"/>
            </hj:entity>
        </xsd:appinfo>
    </xsd:annotation>
		<sequence>
			<element name="imsid" type="long">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:id>
							<orm:generated-value strategy="AUTO" />
						</hj:id>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="id" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Id" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="name" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Name" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="version" type="long">
				<annotation>
					<appinfo>
						<hj:version />
					</appinfo>
				</annotation>
			</element>
			<element name="customerId" type="string" nillable="false">
			</element>
			<element name="createdDate" type="date" nillable="false">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="CreatedDate" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="reversedId" type="long">
				<annotation>
					<documentation>If the transaction was reversed then this points to the reversal transaction.
					</documentation>
				</annotation>
			</element>
			<element name="reversedOrRejectedDate" type="date">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Reverse_Rejected_Date__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="InvestorLoanTransaction">
    <xsd:annotation>
			<documentation>Salesforce name: loan__Investor_Loan_Account_Txns__c
			</documentation>
        <xsd:appinfo>
				<annox:annotate>
					<ims:SalesforceName tableName="loan__Investor_Loan_Account_Txns__c" />
				</annox:annotate>
				<annox:annotate>
					<annox:annotate annox:class="javax.persistence.NamedQueries">
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="InvestorLoanTransaction.imsid" query="select i from InvestorLoanTransaction i where i.imsid=:imsid">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="InvestorLoanTransaction.id" query="select i from InvestorLoanTransaction i where i.id=:id">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="InvestorLoanTransaction.all" query="select i from InvestorLoanTransaction i">
						</annox:annotate>
					</annox:annotate>
				</annox:annotate> 
             <hj:entity>
                <orm:inheritance strategy="SINGLE_TABLE"/>
                <orm:discriminator-value>InvestorLoanTransaction</orm:discriminator-value>
            </hj:entity>
        </xsd:appinfo>
        </xsd:annotation>
    <xsd:complexContent>
        <xsd:extension base="tns:Transaction">
            <xsd:sequence>
			<element name="iltType" type="tns:ItemType">
				<annotation>
					<documentation>Salesforce name: loan__Txn_Type__c</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Txn_Type__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="investmentOrderId" type="string">
				<annotation>
					<documentation>Salesforce name: loan__Investor_Loan__c
					</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Investor_Loan__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="investmentOrderStatus" type="string">
				<annotation>
					<documentation>Salesforce name: Investment_Order_Status__c
					</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Investment_Order_Status__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="netAmount" type="tns:currency">
				<annotation>
					<documentation>loan__Txn_Amount__c - loan__Tax__c - loan__Total_Service_Charge__c
					</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Net_Amount__c" />
							<ims:Negateable/>
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="accountId" type="string">
				<annotation>
					<documentation>Salesforce name: Account_ID__c</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Account_ID__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="principalPaid" type="tns:currency">
				<annotation>
					<documentation>Salesforce name: loan__Principal_Paid__c
					</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Principal_Paid__c" />
							<ims:Negateable/>
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="interestPaid" type="tns:currency">
				<annotation>
					<documentation>Salesforce name: loan__Interest_Paid__c
					</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Interest_Paid__c" />
							<ims:Negateable/>
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="lateFeesPaid" type="tns:currency">
				<annotation>
					<documentation>Salesforce name: loan__Late_Fees_Paid__c
					</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Late_Fees_Paid__c" />
							<ims:Negateable/>
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="tax" type="tns:currency">
				<annotation>
					<documentation>Salesforce name: loan__Tax__c</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Tax__c" />
							<ims:Negateable/>
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
 
			<element name="totalServiceCharge" type="tns:currency">
				<annotation>
					<documentation>Salesforce name: loan__Total_Service_Charge__c
					</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Total_Service_Charge__c" />
							<ims:Negateable/>
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="chargedOffDate" type="date">
				<annotation>
					<documentation>Salesforce name: loan__Charged_Off_Date__c
					</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Charged_Off_Date__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="chargedOffFees" type="tns:currency">
				<annotation>
					<documentation>Salesforce name: loan__Charged_Off_Fees__c
					</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Charged_Off_Fees__c" />
							<ims:Negateable/>
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="chargedOffInterest" type="tns:currency">
				<annotation>
					<documentation>Salesforce name: loan__Charged_Off_Interest__c
					</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Charged_Off_Interest__c" />
							<ims:Negateable/>
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="chargedOffPrincipal" type="tns:currency">
				<annotation>
					<documentation>Salesforce name: loan__Charged_Off_Principal__c
					</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Charged_Off_Principal__c" />
							<ims:Negateable/>
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="investorTxnFee" type="tns:currency">
				<annotation>
					<documentation>Salesforce name: Investor_Txn_Fee__c</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Investor_Txn_Fee__c" />
							<ims:Negateable/>
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="txnCode" type="tns:TxnCode">
				<annotation>
					<documentation>Salesforce name: loan__Txn_Code__c</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Txn_Code__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="waived" type="boolean">
				<annotation>
					<documentation>Salesforce name: loan__Waived__c</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Waived__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="protectPrincipal" type="tns:currency">
				<annotation>
					<documentation>(loan__Principal_Paid__c * (loan__Loan_Payment_Transaction__r.loan__Loan_Account__r.loan__Protect_fee_amount__c / (loan__Loan_Payment_Transaction__r.loan__Loan_Account__r.loan__Loan_Amount__c - loan__Loan_Payment_Transaction__r.loan__Loan_Account__r.loan__Protect_fee_amount__c )))
					</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Protect_Principal__c" />
							<ims:Negateable/>
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="managementFeeRealised" type="tns:currency">
				<annotation>
					<documentation>
					IF(OR(loan__Loan_Payment_Transaction__r.Remark__c == 'Full waiver', TEXT(loan__Txn_Code__c) == 'CHARGE OFF') ,loan__Investor_Loan__r.loan__Loan__r.Extra_Protect_Realised__c * loan__Investor_Loan__r.loan__Share_rounded__c, IF(OR(loan__Loan_Payment_Transaction__r.Remark__c == 'Early repayment - with waiver', CONTAINS(loan__Loan_Payment_Transaction__r.Remark__c, 'Rewrite')), (loan__Loan_Payment_Transaction__r.Original_Protect_Realised__c + loan__Investor_Loan__r.loan__Loan__r.Extra_Protect_Realised__c) * loan__Investor_Loan__r.loan__Share_rounded__c, Protect_Realised__c)) * loan__Investor_Loan__r.loan__Loan__r.HP_Management_Fee__c / loan__Investor_Loan__r.loan__Loan__r.loan__Protect_fee_amount__c
					</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Management_Fee_Realised__c" />
							<ims:Negateable/>
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="salesCommissionFeeRealised" type="tns:currency">
				<annotation>
					<documentation>
					IF(loan__Loan_Payment_Transaction__r.Remark__c == 'Early repayment - no waiver', (loan__Investor_Loan__r.loan__Loan__r.loan__Protect_fee_amount__c - loan__Investor_Loan__r.loan__Loan__r.Protect_Realised_Active__c + loan__Loan_Payment_Transaction__r.Original_Protect_Realised__c) * loan__Investor_Loan__r.loan__Share_rounded__c, IF(CONTAINS(loan__Loan_Payment_Transaction__r.Remark__c, 'Rewrite'), (loan__Loan_Payment_Transaction__r.Original_Protect_Realised__c + loan__Investor_Loan__r.loan__Loan__r.Extra_Protect_Realised__c) * loan__Investor_Loan__r.loan__Share_rounded__c, IF(TEXT(loan__Txn_Code__c) == 'CHARGE OFF', loan__Investor_Loan__r.loan__Loan__r.Protect_Charge_Off__c * loan__Investor_Loan__r.loan__Share_rounded__c, Protect_Realised__c))) * loan__Investor_Loan__r.loan__Loan__r.HP_Sale_Commission_Fee__c / loan__Investor_Loan__r.loan__Loan__r.loan__Protect_fee_amount__c
					</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Sales_Commission_Fee_Realised__c" />
							<ims:Negateable/>
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="rebateAmountOnPayoff" type="tns:currency">
				<annotation>
					<documentation>Salesforce name: loan__Rebate_Amount_On_Payoff__c
					</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Rebate_Amount_On_Payoff__c" />
							<ims:Negateable/>
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="protectRealised" type="tns:currency">
				<annotation>
					<documentation>IF(loan__Investor_Loan__r.loan__Loan__r.loan__Protect_Enabled__c == TRUE, IF(TEXT(loan__Txn_Code__c) == 'CHARGE OFF', 0, loan__Loan_Payment_Transaction__r.Protect_Realised__c * loan__Investor_Loan__r.loan__Share_rounded__c), 0)
</documentation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Protect_Realised__c" />
							<ims:Negateable/>
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="rejected" type="boolean">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Rejected__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="reversed" type="boolean">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Reversed__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
            </xsd:sequence>
         </xsd:extension>
    </xsd:complexContent>
    </complexType>

	<complexType name="InvestorFundTransaction">
		<xsd:annotation>
			<documentation>Salesforce name: loan__Investor_Fund_Transaction__c
			</documentation>
			<xsd:appinfo>
				<annox:annotate>
					<ims:SalesforceName tableName="loan__Investor_Fund_Transaction__c" />
				</annox:annotate>
				<annox:annotate>
					<annox:annotate annox:class="javax.persistence.NamedQueries">
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="InvestorFundTransaction.imsid" query="select i from InvestorFundTransaction i where i.imsid=:imsid">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="InvestorFundTransaction.id" query="select i from InvestorFundTransaction i where i.id=:id">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="InvestorFundTransaction.all" query="select i from InvestorFundTransaction i">
						</annox:annotate>
					</annox:annotate>
				</annox:annotate> 
				<hj:entity>
					<orm:inheritance strategy="SINGLE_TABLE" />
					<orm:discriminator-value>InvestorFundTransaction</orm:discriminator-value>
				</hj:entity>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:Transaction">
				<xsd:sequence>
					<element name="account" type="string">
						<annotation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan_account_c" />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="transactionAmount" type="tns:currency">
						<annotation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__transaction_amount__c" />
									<ims:Negateable />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="transactionDate" type="date">
						<annotation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Transaction_Date__c" />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="iftType" type="string">
						<annotation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Transaction_Type__c" />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="cleared" type="boolean">
						<annotation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Cleared__c" />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="rejected" type="boolean">
						<annotation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Rejected__c" />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="reversed" type="boolean">
						<annotation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Reversed__c" />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</complexType>
	<xsd:simpleType name="ItemType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Interest" />
			<xsd:enumeration value="Invest" />
			<xsd:enumeration value="Return" />
			<xsd:enumeration value="Tax" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TxnCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ACTIVE" />
			<xsd:enumeration value="CERTIFICATE RATE CHANGE" />
			<xsd:enumeration value="PAYMENT APPROVAL" />
			<xsd:enumeration value="SERVICE RATE CHANGE" />
			<xsd:enumeration value="DE-ACTIVE" />
			<xsd:enumeration value="PAYMENT RELEASE" />
			<xsd:enumeration value="PAYMENT REVERSED" />
			<xsd:enumeration value="PRINCIPAL REINVESTED" />
			<xsd:enumeration value="INTEREST REINVESTED" />
			<xsd:enumeration value="PRINCIPAL &amp; INTEREST REINVESTED" />
			<xsd:enumeration value="CHARGE OFF" />
			<xsd:enumeration value="TRANSACTION FEE REVERSED" />
		</xsd:restriction>
	</xsd:simpleType>
	<simpleType name="currency">
		<restriction base="decimal">
			<totalDigits value="8" />
			<fractionDigits value="2" />
		</restriction>
	</simpleType>

</schema>
