ims-core-database/schema/ims-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:annox="http://annox.dev.java.net"
	xmlns:hj="http://hyperjaxb3.jvnet.org/ejb/schemas/customizations"
	xmlns:ims="http://annox.dev.java.net/com.harmoney.ims.core.annotations"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:orm="http://java.sun.com/xml/ns/persistence/orm"
	xmlns:tns="http://www.harmoney.com/ims-core" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.harmoney.com/ims-core"
	jaxb:version="2.0" jaxb:extensionBindingPrefixes="orm hj xjc annox"
	elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:appinfo>
			<jaxb:globalBindings generateIsSetMethod="false"
				localScoping="toplevel">
				<jaxb:javaType name="java.math.BigDecimal" xmlType="tns:currency"
					parseMethod="com.harmoney.ims.core.database.ConvertUtils.parseCurrency"
					printMethod="com.harmoney.ims.core.database.ConvertUtils.printCurrency" />
				<jaxb:javaType name="java.util.Calendar" xmlType="xsd:dateTime"
					parseMethod="com.harmoney.ims.core.database.ConvertUtils.parseCalendar"
					printMethod="com.harmoney.ims.core.database.ConvertUtils.printCalendar" />
				<jaxb:javaType name="java.util.Date" xmlType="xsd:date"
					parseMethod="com.harmoney.ims.core.database.ConvertUtils.parseDate"
					printMethod="com.harmoney.ims.core.database.ConvertUtils.printDate" />
				<xjc:serializable uid="100"/>
			</jaxb:globalBindings>
			<jaxb:schemaBindings>
				<jaxb:package name="com.harmoney.ims.core.instances" />
			</jaxb:schemaBindings>
		</xsd:appinfo>
	</xsd:annotation>

	<complexType name="Transaction">
		<xsd:annotation>
			<xsd:appinfo>
				<annox:annotate>
					<annox:annotate annox:class="javax.persistence.NamedQueries">
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="TX.imsid" query="select i from Transaction i where i.imsid=:imsid">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="TX.id" query="select i from Transaction i where i.id=:id">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="TX.all" query="select i from Transaction i order by createdDate">
						</annox:annotate>
					</annox:annotate>
				</annox:annotate>

				<hj:entity>
					<orm:inheritance strategy="SINGLE_TABLE" />
					<orm:discriminator-column name="txClass"
						discriminator-type="STRING" />
				</hj:entity>
			</xsd:appinfo>
		</xsd:annotation>
		<sequence>
			<element name="imsid" type="long">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:id>
							<orm:generated-value strategy="AUTO" />
						</hj:id>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="id" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Id" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="name" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Name" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="version" type="long">
				<annotation>
					<appinfo>
						<hj:version />
					</appinfo>
				</annotation>
			</element>
			<element name="accountId" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName
								fieldName="loan__Account__c,Account_ID__c,loan__Loan__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="customerId" type="string" nillable="false">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName
								fieldName="loan__Account__c,Account_ID__c,harMoney_Account_Number__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="createdDate" type="dateTime" nillable="false">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="CreatedDate" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="reversedId" type="long">
				<annotation>
					<documentation>If the transaction was reversed then this points to
						the reversal transaction.
					</documentation>
				</annotation>
			</element>
			<element name="reversedOrRejectedDate" type="date">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Reverse_Rejected_Date__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="txType" type="tns:ItemType" />
		</sequence>
	</complexType>

	<complexType name="shedlock">
		<xsd:annotation>
			<xsd:appinfo>
				<hj:entity>
					<orm:table name="shedlock" />
				</hj:entity>
			</xsd:appinfo>
		</xsd:annotation>
		<sequence>
			<element name="name" type="string" nillable="false">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:id>
							<orm:column name="name" length="64" />
						</hj:id>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="lock_until" type="dateTime">
				<annotation>
					<appinfo>
						<hj:basic>
							<orm:column name="lock_until" />
						</hj:basic>
					</appinfo>
				</annotation>
			</element>
			<element name="locked_at" type="dateTime">
				<annotation>
					<appinfo>
						<hj:basic>
							<orm:column name="locked_at" />
						</hj:basic>
					</appinfo>
				</annotation>
			</element>
			<element name="locked_by" type="string" nillable="false">
				<annotation>
					<appinfo>
						<hj:basic>
							<orm:column name="locked_by" nullable="false" />
						</hj:basic>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="InvestorLoanTransaction">
		<xsd:annotation>
			<documentation>Salesforce name: loan__Investor_Loan_Account_Txns__c
			</documentation>
			<xsd:appinfo>
				<annox:annotate>
					<ims:SalesforceName tableName="loan__Investor_Loan_Account_Txns__c" />
				</annox:annotate>
				<annox:annotate>
					<annox:annotate annox:class="javax.persistence.NamedQueries">
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="InvestorLoanTransaction.imsid"
							query="select i from InvestorLoanTransaction i where i.imsid=:imsid">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="InvestorLoanTransaction.id" query="select i from InvestorLoanTransaction i where i.id=:id">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="InvestorLoanTransaction.all" query="select i from InvestorLoanTransaction i">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="InvestorLoanTransaction.accountdate"
							query="select i from InvestorLoanTransaction i where i.createdDate &gt;= :start and i.createdDate &lt;= :end and i.accountId=:accountId order by accountId,createdDate">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="InvestorLoanTransaction.accountdatebalancefwd"
							query="select i from InvestorLoanTransaction i where i.createdDate &gt;= :start and i.createdDate &lt;= :end and i.accountId=:accountId and i.txType = 'BALANCE_FORWARD' order by accountId,createdDate">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="InvestorLoanTransaction.accountIds"
							query="select i.accountId from InvestorLoanTransaction i where i.createdDate &gt;= :start and i.createdDate &lt;= :end group by accountId">
						</annox:annotate>
					</annox:annotate>
				</annox:annotate>
				<hj:entity>
					<orm:inheritance strategy="SINGLE_TABLE" />
					<orm:discriminator-value>InvestorLoanTransaction
					</orm:discriminator-value>
				</hj:entity>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:Transaction">
				<xsd:sequence>
					<element name="iltType" type="tns:ItemType">
						<annotation>
							<documentation>Salesforce name: loan__Txn_Type__c</documentation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Txn_Type__c" />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="investmentOrderId" type="string">
						<annotation>
							<documentation>Salesforce name: loan__Investor_Loan__c
							</documentation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Investor_Loan__c" />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="investmentOrderStatus" type="string">
						<annotation>
							<documentation>Salesforce name: Investment_Order_Status__c
							</documentation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="Investment_Order_Status__c" />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="netAmount" type="tns:currency">
						<annotation>
							<documentation>loan__Txn_Amount__c - loan__Tax__c -
								loan__Total_Service_Charge__c
							</documentation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="Net_Amount__c" />
									<ims:Negateable />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="principalPaid" type="tns:currency">
						<annotation>
							<documentation>Salesforce name: loan__Principal_Paid__c
							</documentation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Principal_Paid__c" />
									<ims:Negateable />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="interestPaid" type="tns:currency">
						<annotation>
							<documentation>Salesforce name: loan__Interest_Paid__c
							</documentation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Interest_Paid__c" />
									<ims:Negateable />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="lateFeesPaid" type="tns:currency">
						<annotation>
							<documentation>Salesforce name: loan__Late_Fees_Paid__c
							</documentation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Late_Fees_Paid__c" />
									<ims:Negateable />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="tax" type="tns:currency">
						<annotation>
							<documentation>Salesforce name: loan__Tax__c</documentation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Tax__c" />
									<ims:Negateable />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>

					<element name="totalServiceCharge" type="tns:currency">
						<annotation>
							<documentation>Salesforce name: loan__Total_Service_Charge__c
							</documentation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Total_Service_Charge__c" />
									<ims:Negateable />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="chargedOffDate" type="date">
						<annotation>
							<documentation>Salesforce name: loan__Charged_Off_Date__c
							</documentation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Charged_Off_Date__c" />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="chargedOffFees" type="tns:currency">
						<annotation>
							<documentation>Salesforce name: loan__Charged_Off_Fees__c
							</documentation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Charged_Off_Fees__c" />
									<ims:Negateable />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="chargedOffInterest" type="tns:currency">
						<annotation>
							<documentation>Salesforce name: loan__Charged_Off_Interest__c
							</documentation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Charged_Off_Interest__c" />
									<ims:Negateable />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="chargedOffPrincipal" type="tns:currency">
						<annotation>
							<documentation>Salesforce name: loan__Charged_Off_Principal__c
							</documentation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Charged_Off_Principal__c" />
									<ims:Negateable />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="investorTxnFee" type="tns:currency">
						<annotation>
							<documentation>Salesforce name: Investor_Txn_Fee__c
							</documentation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="Investor_Txn_Fee__c" />
									<ims:Negateable />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="txnCode" type="tns:TxnCode">
						<annotation>
							<documentation>Salesforce name: loan__Txn_Code__c</documentation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Txn_Code__c" />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="waived" type="boolean">
						<annotation>
							<documentation>Salesforce name: loan__Waived__c</documentation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Waived__c" />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="protectPrincipal" type="tns:currency">
						<annotation>
							<documentation>(loan__Principal_Paid__c *
								(loan__Loan_Payment_Transaction__r.loan__Loan_Account__r.loan__Protect_fee_amount__c
								/
								(loan__Loan_Payment_Transaction__r.loan__Loan_Account__r.loan__Loan_Amount__c
								-
								loan__Loan_Payment_Transaction__r.loan__Loan_Account__r.loan__Protect_fee_amount__c
								)))
							</documentation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Protect_Principal__c" />
									<ims:Negateable />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="managementFeeRealised" type="tns:currency">
						<annotation>
							<documentation>
								IF(OR(loan__Loan_Payment_Transaction__r.Remark__c == 'Full waiver', TEXT(loan__Txn_Code__c) == 'CHARGE OFF')
								,loan__Investor_Loan__r.loan__Loan__r.Extra_Protect_Realised__c
								* loan__Investor_Loan__r.loan__Share_rounded__c,
								IF(OR(loan__Loan_Payment_Transaction__r.Remark__c == 'Early
								repayment - with waiver',
								CONTAINS(loan__Loan_Payment_Transaction__r.Remark__c,
								'Rewrite')),
								(loan__Loan_Payment_Transaction__r.Original_Protect_Realised__c
								+
								loan__Investor_Loan__r.loan__Loan__r.Extra_Protect_Realised__c)
								* loan__Investor_Loan__r.loan__Share_rounded__c,
								Protect_Realised__c)) *
								loan__Investor_Loan__r.loan__Loan__r.HP_Management_Fee__c /
								loan__Investor_Loan__r.loan__Loan__r.loan__Protect_fee_amount__c
							</documentation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="Management_Fee_Realised__c" />
									<ims:Negateable />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="salesCommissionFeeRealised" type="tns:currency">
						<annotation>
							<documentation>
								IF(loan__Loan_Payment_Transaction__r.Remark__c == 'Early repayment - no waiver',
								(loan__Investor_Loan__r.loan__Loan__r.loan__Protect_fee_amount__c
								-
								loan__Investor_Loan__r.loan__Loan__r.Protect_Realised_Active__c
								+
								loan__Loan_Payment_Transaction__r.Original_Protect_Realised__c)
								* loan__Investor_Loan__r.loan__Share_rounded__c,
								IF(CONTAINS(loan__Loan_Payment_Transaction__r.Remark__c,
								'Rewrite'),
								(loan__Loan_Payment_Transaction__r.Original_Protect_Realised__c
								+
								loan__Investor_Loan__r.loan__Loan__r.Extra_Protect_Realised__c)
								* loan__Investor_Loan__r.loan__Share_rounded__c,
								IF(TEXT(loan__Txn_Code__c) == 'CHARGE OFF',
								loan__Investor_Loan__r.loan__Loan__r.Protect_Charge_Off__c *
								loan__Investor_Loan__r.loan__Share_rounded__c,
								Protect_Realised__c))) *
								loan__Investor_Loan__r.loan__Loan__r.HP_Sale_Commission_Fee__c /
								loan__Investor_Loan__r.loan__Loan__r.loan__Protect_fee_amount__c
							</documentation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="Sales_Commission_Fee_Realised__c" />
									<ims:Negateable />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="rebateAmountOnPayoff" type="tns:currency">
						<annotation>
							<documentation>Salesforce name: loan__Rebate_Amount_On_Payoff__c
							</documentation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Rebate_Amount_On_Payoff__c" />
									<ims:Negateable />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="protectRealised" type="tns:currency">
						<annotation>
							<documentation>IF(loan__Investor_Loan__r.loan__Loan__r.loan__Protect_Enabled__c
								== TRUE, IF(TEXT(loan__Txn_Code__c) == 'CHARGE OFF', 0,
								loan__Loan_Payment_Transaction__r.Protect_Realised__c *
								loan__Investor_Loan__r.loan__Share_rounded__c), 0)
							</documentation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="Protect_Realised__c" />
									<ims:Negateable />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="rejected" type="boolean">
						<annotation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="Rejected__c" />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="reversed" type="boolean">
						<annotation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="Reversed__c" />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</complexType>

	<complexType name="InvestorFundTransaction">
		<xsd:annotation>
			<documentation>Salesforce name: loan__Investor_Fund_Transaction__c
			</documentation>
			<xsd:appinfo>
				<annox:annotate>
					<ims:SalesforceName tableName="loan__Investor_Fund_Transaction__c" />
				</annox:annotate>
				<annox:annotate>
					<annox:annotate annox:class="javax.persistence.NamedQueries">
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="InvestorFundTransaction.imsid"
							query="select i from InvestorFundTransaction i where i.imsid=:imsid">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="InvestorFundTransaction.id" query="select i from InvestorFundTransaction i where i.id=:id">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="InvestorFundTransaction.all" query="select i from InvestorFundTransaction i">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="InvestorFundTransaction.accountdate"
							query="select i from InvestorFundTransaction i where i.createdDate &gt;= :start and i.createdDate &lt;= :end and i.accountId=:accountId order by accountId,createdDate">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="InvestorFundTransaction.accountdatebalancefwd"
							query="select i from InvestorFundTransaction i where i.createdDate &gt;= :start and i.createdDate &lt;= :end and i.accountId=:accountId and i.txType = 'BALANCE_FORWARD' order by accountId,createdDate">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="InvestorFundTransaction.accountIds"
							query="select i.accountId from InvestorFundTransaction i where i.createdDate &gt;= :start and i.createdDate &lt;= :end group by accountId">
						</annox:annotate>
					</annox:annotate>
				</annox:annotate>
				<hj:entity>
					<orm:inheritance strategy="SINGLE_TABLE" />
					<orm:discriminator-value>InvestorFundTransaction
					</orm:discriminator-value>
				</hj:entity>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:Transaction">
				<xsd:sequence>
					<element name="transactionAmount" type="tns:currency">
						<annotation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Transaction_Amount__c" />
									<ims:Negateable />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="transactionDate" type="date">
						<annotation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Transaction_Date__c" />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="iftType" type="string">
						<annotation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Transaction_Type__c" />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="cleared" type="boolean">
						<annotation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Cleared__c" />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="rejected" type="boolean">
						<annotation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Rejected__c" />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
					<element name="reversed" type="boolean">
						<annotation>
							<appinfo>
								<annox:annotate>
									<ims:SalesforceName fieldName="loan__Reversed__c" />
								</annox:annotate>
							</appinfo>
						</annotation>
					</element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</complexType>
	<complexType name="Account">
		<xsd:annotation>
			<documentation>Salesforce name: Account
			</documentation>
			<xsd:appinfo>
				<annox:annotate>
					<ims:SalesforceName tableName="Account" />
				</annox:annotate>
				<annox:annotate>
					<annox:annotate annox:class="javax.persistence.NamedQueries">
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="Account.imsid" query="select i from Account i where i.imsid=:imsid">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="Account.id" query="select i from Account i where i.id=:id">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="Account.all" query="select i from Account i">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="Account.harmoneyAccountNumber" query="select i from Account i where i.harmoneyAccountNumber=:harmoneyAccountNumber">
						</annox:annotate>
					</annox:annotate>
				</annox:annotate>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<element name="imsid" type="long">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:id>
							<orm:generated-value strategy="AUTO" />
						</hj:id>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="id" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Id" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="name" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Name" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="version" type="long">
				<annotation>
					<appinfo>
						<hj:version />
					</appinfo>
				</annotation>
			</element>
			<element name="lastModifiedDate" type="dateTime" nillable="false" />
			<element name="HarmoneyAccountNumber" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="harMoney_Account_Number__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="OutstandingPrincipal" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Outstanding_Principal__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="DeployedFunds" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Deployed_Funds__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="UndeployedFunds" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Undeployed_Funds__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="TotalPaidOffAmount" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Total_Paid_Off_Amount__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="InterestsReceived" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Interests_Recived__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="LateFees" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Late_Fees__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="ServiceFees" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Service_Fees__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="TotalTax" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Total_Tax__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="TotalChargedOffPrincipal" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Total_Charged_Off_Principal__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="TotalDeposit" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Total_Deposit__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="TotalWithdrawal" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Total_Withdrawal__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="TaxPercentage" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName
								fieldName="loan__Investor_Tax_Configuration__r.loan__Tax_Percentage__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="IRDNumber" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="IRD_Number__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="AccountSummary" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Account_Summary__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
		</xsd:sequence>
	</complexType>
	<complexType name="LoanAccount">
		<xsd:annotation>
			<documentation>Salesforce name: loan__Loan_Account__c
			</documentation>
			<xsd:appinfo>
				<annox:annotate>
					<ims:SalesforceName tableName="loan__Loan_Account__c" />
				</annox:annotate>
				<annox:annotate>
					<annox:annotate annox:class="javax.persistence.NamedQueries">
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="LoanAccount.imsid" query="select i from LoanAccount i where i.imsid=:imsid">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="LoanAccount.id" query="select i from LoanAccount i where i.id=:id">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="LoanAccount.all" query="select i from LoanAccount i">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="LoanAccount.harmoneyAccountNumber" query="select i from LoanAccount i where i.harmoneyAccountNumber=:harmoneyAccountNumber">
						</annox:annotate>
					</annox:annotate>
				</annox:annotate>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<element name="imsid" type="long">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:id>
							<orm:generated-value strategy="AUTO" />
						</hj:id>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="id" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Id" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="name" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Name" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="version" type="long">
				<annotation>
					<appinfo>
						<hj:version />
					</appinfo>
				</annotation>
			</element>
			<element name="lastModifiedDate" type="dateTime" nillable="false" />
			<element name="HarmoneyAccountNumber" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="harMoney_Account_Number__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="status" type="tns:LoanAccountStatus">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Loan_Status__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="waived" type="boolean">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Waived__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
		</xsd:sequence>
	</complexType>
	<complexType name="Bill">
		<xsd:annotation>
			<documentation>Salesforce name: loan__Loan_account_Due_Details__c
			</documentation>
			<xsd:appinfo>
				<annox:annotate>
					<ims:SalesforceName tableName="loan__Loan_account_Due_Details__c" />
				</annox:annotate>
				<annox:annotate>
					<annox:annotate annox:class="javax.persistence.NamedQueries">
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="Bill.imsid" query="select i from Bill i where i.imsid=:imsid">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="Bill.id" query="select i from Bill i where i.id=:id">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="Bill.all" query="select i from Bill i">
						</annox:annotate>
					</annox:annotate>
				</annox:annotate>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<element name="imsid" type="long">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:id>
							<orm:generated-value strategy="AUTO" />
						</hj:id>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="id" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Id" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="name" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Name" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="version" type="long">
				<annotation>
					<appinfo>
						<hj:version />
					</appinfo>
				</annotation>
			</element>
			<element name="lastModifiedDate" type="dateTime" nillable="false" />
			<element name="loanAccountId" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Loan_Account__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="transactionDate" type="date">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Transaction_Date__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="createdDate" type="date">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="CreatedDate" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="dueDate" type="date">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Due_Date__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="dueAmount" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Due_Amt__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="paymentSatisfied" type="boolean">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Payment_Satisfied__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="waiverApplied" type="boolean">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__waiver_applied__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
		</xsd:sequence>
	</complexType>
	<complexType name="InvestmentOrder">
		<xsd:annotation>
			<documentation>Salesforce name: loan__Investor_Loan__c
			</documentation>
			<xsd:appinfo>
				<annox:annotate>
					<ims:SalesforceName tableName="loan__Investor_Loan__c" />
				</annox:annotate>
				<annox:annotate>
					<annox:annotate annox:class="javax.persistence.NamedQueries">
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="InvestmentOrder.imsid" query="select i from InvestmentOrder i where i.imsid=:imsid">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="InvestmentOrder.id" query="select i from InvestmentOrder i where i.id=:id">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="InvestmentOrder.all" query="select i from InvestmentOrder i order by createdDate">
						</annox:annotate>
					</annox:annotate>
				</annox:annotate>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<element name="imsid" type="long">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:id>
							<orm:generated-value strategy="AUTO" />
						</hj:id>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="id" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Id" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="name" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Name" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="version" type="long">
				<annotation>
					<appinfo>
						<hj:version />
					</appinfo>
				</annotation>
			</element>
			<element name="lastModifiedDate" type="dateTime" nillable="false" />
			<element name="createdDate" type="dateTime" nillable="false">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="CreatedDate" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="accountId" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Account__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>

			<element name="InvestmentAmount" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Investment_Amount__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="HMInvestmentAmount" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="HM_Investment_Amount__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="ProtectInvestmentAmount" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Protect_Investment_Amount__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="ChargedOffPrincipal" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Charged_Off_Principal__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="ChargedOffDate" type="date">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Charged_Off_Date__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="LoanStatus" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Loan_Status__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="LoanShare" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Share__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="PaymentProtectManagementFees" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Payment_Protect_Management_Fees__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="PaymentProtectSalesCommissionFees" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Payment_Protect_Sales_Commission_Fees__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="PaymentProtectFee" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Payment_Protect_Fee__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="PaymentProtectRebatedAmount" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Payment_Protect_Rebated_Amount__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="HMRollupOutstandingPrincipal" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="HM_Rollup_Outstanding_Principal__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
		</xsd:sequence>
	</complexType>
	<complexType name="AmortizationSchedule">
		<xsd:annotation>
			<documentation>loan__Repayment_Schedule__c	
			</documentation>
			<xsd:appinfo>
				<hj:ignored/>
				<annox:annotate>
					<ims:SalesforceName tableName="loan__Repayment_Schedule__c" />
				</annox:annotate>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<element name="id" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Id" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="name" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Name" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="accountId" type="string">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Loan_Account__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="dueDate" type="date">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="loan__Due_Date__c" />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="protectRealised" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Protect_Realised__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="salesCommissionRealised" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Sales_Commission_Realised__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
			<element name="managementFeeRealised" type="tns:currency">
				<annotation>
					<appinfo>
						<annox:annotate>
							<ims:SalesforceName fieldName="Management_Fee_Realised__c" />
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</annotation>
			</element>
		</xsd:sequence>
	</complexType>
	<complexType name="ProtectRealisedRevenue">
		<xsd:annotation>
			<xsd:appinfo>
				<annox:annotate>
					<annox:annotate annox:class="javax.persistence.NamedQueries">
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="ProtectRealisedRevenue.imsid" query="select i from ProtectRealisedRevenue i where i.imsid=:imsid">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="ProtectRealisedRevenue.all" query="select i from ProtectRealisedRevenue i">
						</annox:annotate>
						<annox:annotate annox:class="javax.persistence.NamedQuery"
							name="ProtectRealisedRevenue.investmentOrderIdAndDueDate" query="select i from ProtectRealisedRevenue i where i.investmentOrderId=:investmentOrderId and i.dueDate=:dueDate">
						</annox:annotate>
					</annox:annotate>
				</annox:annotate>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<element name="imsid" type="long">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:id>
							<orm:generated-value strategy="AUTO" />
						</hj:id>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="version" type="long">
				<annotation>
					<appinfo>
						<hj:version />
					</appinfo>
				</annotation>
			</element>
			<element name="investmentOrderId" type="string">
				<xsd:annotation>
					<documentation>
					this should 15 digit salesforce  investment order ID
					</documentation>
				</xsd:annotation>
			</element>
			<element name="dueDate" type="date">
				<xsd:annotation>
					<documentation>
					 Due date of the loan
					</documentation>
				</xsd:annotation>
			</element>
			<element name="ProtectRealised" type="tns:currency">
				<xsd:annotation>
					<documentation>
					Protect Fee Realised value copied from Amortization schedule object in Salesforce. 
					1.This value should be populated from Amortization Schedule based on the due date when a Bill 
					  gets satisfied in Salesforce. If the bill gets satisfied as well as marked as waived as true 
					  then this value should also be populated in Protect Waived column of PG
					2.This value should be made 0 when a bill gets unsatisfied. 
					3.When loan status changes from "Active-Good Standing" or "Active-bad Standing" to 
					  "Closed-Obligations met" or "Closed-Written off" then protect realized should be 
					  calculated from amortization schedule by picking up all the remaining realized values from that due date.
					4.When loan status changes from "Active-Good Standing" or "Active-bad Standing" to 
					  "Closed-Obligations met" and Loan Account's "Waived__c" field is true then protect 
					  realized should be calculated from amortization schedule by picking up all the remaining 
					  realized values from that due date and this same value should be populated in Protect Waived column of PG
					</documentation>
					<appinfo>
						<annox:annotate>
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</xsd:annotation>
			</element>
			<element name="SalesCommissionFeeRealised" type="tns:currency">
				<xsd:annotation>
					<documentation>
					Sales Commission Fee Realised value copied from Amortization schedule object in Salesforce. For the first month, 
					this value should be populated when a loan is changed from Approved to Active - Good Standing. From second 
					months onwards this value should be populated when a new bill gets created.
					</documentation>
					<appinfo>
						<annox:annotate>
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</xsd:annotation>
			</element>
			<element name="ManagementFeeRealised" type="tns:currency">
				<xsd:annotation>
					<documentation>
					Management Fee Realised value copied from Amortization schedule object in Salesforce. For the first month, this 
					value should be populated when a loan is changed from Approved to Active - Good Standing. From second months 
					onwards this value should be populated when a new bill gets created.
					</documentation>
					<appinfo>
						<annox:annotate>
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</xsd:annotation>
			</element>
			<element name="ProtectWaived" type="tns:currency">
				<xsd:annotation>
					<documentation>
					When a Bill gets Satisfied (loan__Payment_Satisfied__c) and Waived (loan__waiver_applied__c), this field should 
					be populated with Protect Realised value.
					</documentation>
					<appinfo>
						<annox:annotate>
							<ims:Negateable />
						</annox:annotate>
					</appinfo>
				</xsd:annotation>
			</element>
		</xsd:sequence>
	</complexType>
	<xsd:simpleType name="ItemType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Interest" />
			<xsd:enumeration value="Invest" />
			<xsd:enumeration value="Return" />
			<xsd:enumeration value="Tax" />
			<xsd:enumeration value="BalanceForward" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LoanAccountStatus">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Pending Approval" />
			<xsd:enumeration value="Active - Good Standing" />
			<xsd:enumeration value="Active - Bad Standing" />
			<xsd:enumeration value="Active - Matured" />
			<xsd:enumeration value="Approved" />
			<xsd:enumeration value="Canceled" />
			<xsd:enumeration value="Closed - Obligations met" />
			<xsd:enumeration value="Closed- Written Off" />
			<xsd:enumeration value="Active - Marked for Closure" />
			<xsd:enumeration value="Cancellation in progress" />
			<xsd:enumeration value="Partial Application" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TxnCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ACTIVE" />
			<xsd:enumeration value="CERTIFICATE RATE CHANGE" />
			<xsd:enumeration value="PAYMENT APPROVAL" />
			<xsd:enumeration value="SERVICE RATE CHANGE" />
			<xsd:enumeration value="DE-ACTIVE" />
			<xsd:enumeration value="PAYMENT RELEASE" />
			<xsd:enumeration value="PAYMENT REVERSED" />
			<xsd:enumeration value="PRINCIPAL REINVESTED" />
			<xsd:enumeration value="INTEREST REINVESTED" />
			<xsd:enumeration value="PRINCIPAL &amp; INTEREST REINVESTED" />
			<xsd:enumeration value="CHARGE OFF" />
			<xsd:enumeration value="TRANSACTION FEE REVERSED" />
		</xsd:restriction>
	</xsd:simpleType>
	<simpleType name="currency">
		<restriction base="decimal">
			<totalDigits value="8" />
			<fractionDigits value="2" />
		</restriction>
	</simpleType>

	<xsd:element name="AccountRequest" >
		<xsd:complexType>
			<xsd:annotation>
				<xsd:appinfo>
					<hj:ignored/>
				</xsd:appinfo>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="harmoneyAccountNumber" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AccountResponse">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:appinfo>
					<hj:ignored/>
				</xsd:appinfo>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="Account" type="tns:Account" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="InvestorLoanTransactionRequest">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:appinfo>
					<hj:ignored/>
				</xsd:appinfo>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="queryDate" type="xsd:date"/>
				<xsd:element name="accountId" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InvestorLoanTransactionResponse">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:appinfo>
					<hj:ignored/>
				</xsd:appinfo>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="InvestorLoanTransaction" type="tns:InvestorLoanTransaction" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="InvestorFundTransactionRequest">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:appinfo>
					<hj:ignored/>
				</xsd:appinfo>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="queryDate" type="xsd:date"/>
				<xsd:element name="accountId" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InvestorFundTransactionResponse">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:appinfo>
					<hj:ignored/>
				</xsd:appinfo>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="InvestorFundTransaction" type="tns:InvestorFundTransaction" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="InvestmentOrderRequest">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:appinfo>
					<hj:ignored/>
				</xsd:appinfo>
			</xsd:annotation>
		    <xsd:sequence>
<!-- Seems to need no args? 			
				<xsd:element name="queryDate" type="xsd:date"/>
				<xsd:element name="accountId" type="xsd:string"/>
 -->
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="InvestmentOrderResponse">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:appinfo>
					<hj:ignored/>
				</xsd:appinfo>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="InvestmentOrder" type="tns:InvestmentOrder" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</schema>
